# Set default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare text files you want to always be normalized and converted to LF on checkout.
*.cs     text
*.shader text
*.gltf  text

# Declare binary files to be treated as binary and not modified.
*.fbx    binary
*.mtl    binary
*.png    binary
*.jpg    binary
*.jpeg   binary
*.gif    binary
*.ico    binary
*.dll    binary
*.exe    binary
